<ion-header>
    <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      MPESA STATEMENTS
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content>

   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-label text-center padding margin *ngIf="statements==null">
    No M-PESA transactions detected <br> on your phone.
  </ion-label>




<ion-card *ngFor="let statement of statements">
  <ion-card-header  color="primary">
   {{statement.address}}
  </ion-card-header>
  <ion-card-content>
     <p>{{statement.body}} </p>
  </ion-card-content>
  </ion-card>

  <ion-fab bottom right>
    <button  (click)="uploadStatement()" ion-fab><ion-icon name="cloud-upload"></ion-icon></button>
  </ion-fab>

</ion-content>


