<ion-header >
  <ion-navbar color="primary">
     <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Loan Application</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
 <ion-grid>

  <ion-card>
  <ion-card-header  color="primary">
    What you need to know
  </ion-card-header>
  <ion-card-content>
    <p>* Loans are charged 20% interest.</p>
    <p>* Pay on time to avoid penalties.</p>
    <p>* The Loan repayment period is one month.</p>
    <p>* To acquire a loan, you must have submitted your M-PESA statements.</p>
     
  </ion-card-content>

</ion-card>

  
  <h2 padding-left color="primary">Ready to Borrow ? </h2>
  <h4 padding>Your loan limit is Ksh. {{ loan_limit }}</h4>
  
  <form [formGroup]="loanApplicationForm">
    <ion-item >
      <ion-label stacked>How much do you need ? </ion-label>
      <ion-input  type="number" formControlName="loan_amount" name="loan_amount">
      </ion-input>
    </ion-item>
    <ion-item no-lines>
     
    </ion-item>

     <button  ion-button full round  [disabled]="!loanApplicationForm.valid"  (click)="confirm()">Submit</button>
  </form>
 </ion-grid>
</ion-content>

