<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <img class="logo" src="assets/img/logo/logo-instagram.png" />
  <form [formGroup]="loginForm">
  <div padding> 
    <ion-item [class.invalid]="!loginForm.controls.email.valid  && (loginForm.controls.email.touched  || submitAttempt)">
      <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
    </ion-item>

    <ion-item [class.invalid]="!loginForm.controls.password.valid  && (loginForm.controls.password.touched  || submitAttempt)">
      <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
    </ion-item>

    <button  type="submit" [disabled]="!loginForm.valid" ion-button block outline (click)="login()" color="light" class="login-button">Login</button>

    <ion-label (click)="forgot()" color="light" padding text-center>
     Forgot Password ?
    </ion-label>
  </div>
</form>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToSignup()" >
      <span>Don't have an account? <strong>Sign up here</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
