<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
    </ion-navbar>
  </ion-header>
  <img class="logo" src="assets/img/logo/logo-instagram.png" />

  <div padding>
<ion-slides #signupSlider>
 
  <ion-slide>
 
     <form [formGroup]="signUpOneForm">
      <ion-item [class.invalid]="!signUpOneForm.controls.first_name.valid  && (signUpOneForm.controls.first_name.touched  || submitAttempt)">
        <ion-input  type="text" formControlName="first_name" placeholder="First Name"></ion-input>
      </ion-item>



      <ion-item [class.invalid]="!signUpOneForm.controls.last_name.valid  && (signUpOneForm.controls.last_name.touched  || submitAttempt)">
        <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
      </ion-item>


        <button [disabled]="!signUpOneForm.valid" type="submit" ion-button block outline (click)="next(1,signUpOneForm)" color="light" class="login-button">NEXT</button>

    </form>

  </ion-slide>

  <ion-slide>
  
     <form [formGroup]="signUpTwoForm">

      <ion-item [class.invalid]="!signUpTwoForm.controls.email.valid  && (signUpTwoForm.controls.email.touched  || submitAttempt)">
        <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>


      <ion-item [class.invalid]="!signUpTwoForm.controls.national_id.valid  && (signUpTwoForm.controls.national_id.touched  || submitAttempt)">
        <ion-input type="number" formControlName="national_id" placeholder="National ID"></ion-input>
      </ion-item>

        <ion-row>
          <ion-col>
               <button ion-button block outline (click)="prev(0)" color="light" class="login-button">BACK</button>
          </ion-col>

          <ion-col>
            <button [disabled]="!signUpTwoForm.valid" type="submit" ion-button block outline (click)="next(2,signUpTwoForm)" color="light" class="login-button">NEXT</button>
          </ion-col>

         </ion-row>
     </form>

  </ion-slide>


  <ion-slide>
     
      <form  [formGroup]="signUpThreeForm">
      <ion-item [class.invalid]="!signUpThreeForm.controls.phone.valid  && (signUpThreeForm.controls.phone.touched  || submitAttempt)">
        <ion-input type="text" formControlName="phone" placeholder="Phone No."></ion-input>
      </ion-item>

  
      <ion-item [class.invalid]="!signUpThreeForm.controls.residence.valid  && (signUpThreeForm.controls.residence.touched  || submitAttempt)">
       <ion-input type="text" formControlName="residence" placeholder="Residence"></ion-input>
      </ion-item>

        <ion-row>
          <ion-col>
               <button  ion-button block outline (click)="prev(1)" color="light" class="login-button">BACK</button>
          </ion-col>

          <ion-col>
           <button [disabled]="!signUpThreeForm.valid" type="submit" ion-button block outline (click)="next(3,signUpThreeForm)" color="light" class="login-button">NEXT</button>
          </ion-col>

         </ion-row>
    </form>

  </ion-slide>


  <ion-slide>
   
      <form [formGroup]="signUpFourForm">
        <ion-item [class.invalid]="!signUpFourForm.controls.password.valid  && (signUpFourForm.controls.password.touched  || submitAttempt)">
        <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
      </ion-item>

   

      <ion-item  [class.invalid]="!signUpFourForm.controls.confirm_password.valid  && (signUpFourForm.controls.confirm_password.touched  || submitAttempt)">
        <ion-input type="password" formControlName="confirm_password" placeholder="Confirm Password"></ion-input>
      </ion-item>

      <ion-row>
          <ion-col>
               <button  ion-button block outline (click)="prev(2)" color="light" class="login-button">BACK</button>
          </ion-col>

          <ion-col>
          <button [disabled]="!signUpFourForm.valid" type="submit" ion-button block outline (click)="register()" color="light" class="login-button">COMPLETE SIGN UP</button>
          </ion-col>

         </ion-row>

     
      </form>

  </ion-slide>


  </ion-slides>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar class="footer">
    <div (click)="goToSignin()">
      <span>Have an account? <strong>Sign in here</strong>.</span>
    </div>
  </ion-toolbar>
</ion-footer>
