<ion-header>
    <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>

    <ion-buttons end>
       <button ion-button (click)="saveProfile()">
      Save
      </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>
<ion-content>
  <form  (ngSubmit)="saveProfile()">
  <ion-list>
    <ion-list-header>
      <ion-avatar item-start>
         <img [src]="user_image">
      </ion-avatar>
      <p class="username">{{first_name}} {{last_name}}</p>
    </ion-list-header>
  </ion-list>
  
  <ion-list padding>
    <ion-item no-lines>
      <ion-label  floating>First Name </ion-label> 
       <ion-input  type="text" [(ngModel)]="first_name" name="first_name"   ></ion-input>
    </ion-item>

    <ion-item no-lines>
      <ion-label  floating>Last Name </ion-label> 
       <ion-input  type="text" [(ngModel)]="last_name" name="last_name"   ></ion-input>
    </ion-item>

    
   </ion-list>

  <ion-list>
    <ion-list-header>
      Contact info (Visit Help to change details) 
    </ion-list-header>
    <ion-item>
      <ion-icon name='call' item-start></ion-icon>
      <ion-label floating>Phone No. </ion-label>
      <ion-input disabled="true" [(ngModel)]="phone_no"  name="phone_no"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name='mail' item-start></ion-icon>
      <ion-label floating>Email  </ion-label>
      <ion-input disabled="true" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
  </ion-list>

   <ion-list>
    <ion-list-header>
      Other Details
    </ion-list-header>
    <ion-item>
      <ion-icon name='card' item-start></ion-icon>
      <ion-label>National ID</ion-label>
      <ion-input disabled="true" [(ngModel)]="national_id" name="national_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name='compass' item-start></ion-icon>
      <ion-label>Residence</ion-label>
      <ion-input [(ngModel)]="residence" name="residence"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Terms and Conditions
    </ion-list-header>
    <ion-item>
      <ion-label>
        To change the uneditable fields,<br>please contact the administrator.
      </ion-label>
     
    </ion-item>
  </ion-list>
</form>
</ion-content>
