<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> Pesa Sasa </ion-title>
  </ion-navbar>
  
</ion-header>

<ion-content>
  <ion-slides autoplay="2000" loop="true" speed="2000">
    <ion-slide>
      <div class="slide-item" style="background-image: url(assets/img/home/2.jpg)"></div>
    </ion-slide>
    <ion-slide>
      <div class="slide-item" style="background-image: url(assets/img/home/1.jpg)"></div>
    </ion-slide>
    <ion-slide>
      <div class="slide-item" style="background-image: url(assets/img/home/3.jpg)"></div>
    </ion-slide>
  </ion-slides>
 
  <ion-card *ngFor="let card of cards">
   
    <ion-card-content color="primary">
      {{card.content}}
    </ion-card-content>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of pages; let i = index" col-4 col-sm-4 col-md-6 col-lg-4 col-xl-2 text-center>
        <button (click)="showList(item)" >
          <ion-icon color="primary" name="{{ item.icon }}"></ion-icon> <br> {{ item.title }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
