
<div class="{{global.state['theme']}}">
  <!--Default Menu-->
  <ion-menu [content]="content" id="menu-components">
    <ion-header color="primary">
      <ion-toolbar>
        <ion-title> {{ 'MENU' | translate }} </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" [class.highlight]="p.active" (click)="openPage(p)">
        {{ p.title | translate }}
      </button>
      <button *ngIf="isLogin" menuClose="left" ion-item detail-none (click)="doLogout()">
        {{ 'LOGOUT' | translate}}
      </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--Side Menu with avatar-->
  <ion-menu [content]="content" id="menu-avatar">
    <ion-content>
      <div #header>
        <ion-row style="align-items:center;">
          <ion-col col-3>
            <img src="assets/icon/icon-email.svg" />
            <span class="icon-badge">4</span>
          </ion-col>
          <ion-col col-6>
            <img class="user-avatar round" [src]="userData.photo"
            />
          </ion-col>
          <ion-col col-3>
            <img src="assets/icon/icon-calendar.svg" />
          </ion-col>
        </ion-row>
        <div style="text-align: center;">
          <p class="name">{{ userData.name  }}</p>
          <p class="e-mail">{{ userData.email  }}</p>       
        </div>
      </div>
      <ion-list no-lines>
        <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
          <!--<ion-icon [name]="p.icon" item-left></ion-icon>-->
          {{ p.title | translate }}
        </button>
        <button *ngIf="isLogin" menuClose="left" ion-item detail-none (click)="doLogout()">
          {{ 'LOGOUT' | translate}}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <!--Material Design Menu-->
  <ion-menu [content]="content" id="menu-material">
    <ion-content>
      <div class="menu-header">
        <!--material-design-background-->
        <img class="user-avatar round" [src]="userData.photo"/>
        <p class="name">{{ userData.name  }}</p>
        <p class="e-mail">{{ userData.email  }}</p>
        <p class="e-mail">YOUR ID : [ PESAUSER{{userData.id}} ]</p>
      </div>
      <ion-list no-lines>
        <button menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title | translate}}
        </button>
        <button  menuClose="left" ion-item detail-none (click)="signOut()">
            <ion-icon name="power" item-left></ion-icon>
            Sign Out
          </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</div>
