<ion-header>
    <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Applied Loans
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content>

  <ion-label text-center padding *ngIf="loans==null">
     No loans applied. <br>Click the '+' button below <br>to apply for a loan.
  </ion-label>

<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card *ngFor="let loan of loans">
  <ion-card-header  color="primary">
    Loan Number {{loan.id}}
  </ion-card-header>
  <ion-card-content>
     <p>Due Date: {{loan.dueDate}} </p>
     <p>Amount Borrowed: Ksh. {{loan.loan_amount}}</p>
     <p>Amount to pay back: Ksh. {{loan.loan_balance}}</p>
     <p>Loan Status: {{loan.status}}</p>
     
  </ion-card-content>

<ion-row>
  <ion-col>
    <button [disabled]="loan.status=='Pending' || loan.status == 'Settled'" ion-button  full round  icon-right color="primary" (click)="makePayment({loanIn: loan})">Make a Payment <ion-icon  name="cash"></ion-icon></button>
  </ion-col>
</ion-row>

</ion-card>

 <ion-fab bottom right>
    <button ion-fab  (click)="applyLoan()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>


