<ion-header >
  <ion-navbar color="primary">
    <ion-title>Activate your Account</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <header>
    <h1>Simple <span>as</span> 1,2,3</h1>
    <img src="assets/img/blog/mountain-range-front.png">
  </header>
  <main>
    <p>1. Click the <strong>Pay Now</strong> Button.</p>
    <p>2. Wait for the M-PESA pop up.</p>
    <p>3. Complete the M-PESA transaction.</p>
    <p>4. Once you have paid,your account will be active.</p>

   <button  ion-button (click)="activate()" color="success" block round><strong>PAY NOW</strong></button>
    <br>
  </main>

</ion-content>

