<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Loan Payment
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="loanpaymentModalForm" (ngSubmit)="confirm()">
    <ion-card> 
    <ion-card-content>
       <p>Due Date: {{loan.dueDate}} </p>
       <p>Amount Borrowed: Ksh. {{loan.loan_amount}}</p>
       <p>Loan Balance: Ksh. {{loan.loan_balance}}</p>
  
  
 </ion-card-content>
  </ion-card>
   <ion-item>
        <ion-label stacked> How much do you want to Pay ?</ion-label> 
        <ion-input  type="number"  formControlName="amount"></ion-input>
  </ion-item>

  <ion-item>
  <ion-row>
    <ion-col>
      <button color="danger" type="button" (click)="goBack()" ion-button full round>Cancel</button>
    </ion-col>
    <ion-col>
         <button color="primary" type="submit" ion-button full round [disabled]="!loanpaymentModalForm.valid">Pay</button>
    </ion-col>
  </ion-row>

  </ion-item>



 

</form>

</ion-content>